doctype html
- var title = 'Traductor de cartas de HearthStone v' + version
html(lang='es')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.0.0/awesomplete.min.css')
  body
    div= title
    table(style="border-spacing: 10px")
      tr
        th(rowSpan=2) Languages
        th Source
        th Target
      tr
        td= srcLanguage
        td
          select#targetLanguage
            each language in allLanguages
              option(value=language) #{language}
    table
      tr
        td
          input#cardNames.awesomplete(placeholder='Nombre de la carta a traducir', size='25')
        td
          div#result
    script(src='https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.0.0/awesomplete.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
    script
      include translations.js
    script.
      function updateResult() {
        var selectedCard = document.getElementById("cardNames").value;
        var selectedTargetLang = document.getElementById("targetLanguage").value;
        var translations = nameTranslations[selectedCard];
        var translatedName = translations[selectedTargetLang];
        var resultEl = document.getElementById("result");
        resultEl.innerHTML = translatedName;
      }
      function initAwesomplete(optionsArray) {
        var input = document.getElementById("cardNames");
        var awesomplete = new Awesomplete(input);
        awesomplete.minChars = 1;
        awesomplete.autoFirst = true;
        awesomplete.list = optionsArray;
        input.addEventListener("awesomplete-selectcomplete", updateResult, true);
      }
      function getObjectKeys(obj) {
        var keys = [];
        for (var key in obj)
          if (obj.hasOwnProperty(key))
            keys.push(key);
        return keys;
      }
      function init() {
        var cardOptions = getObjectKeys(nameTranslations);
        initAwesomplete(cardOptions);
        document.getElementById("targetLanguage").addEventListener("change", updateResult);
      }
      init();
