doctype html
- var title = 'Traductor de cartas de HearthStone v' + version
- var url_translations = 'translations.js?v=' + version // version in url param just for enforce cache expiration
html(lang='es')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href=url_awesomplete_css)
    style(type="text/css").
      body {
        background: black;
      }
      .main-wrapper {
        background: rgb(233,233,233);
        max-width: 800px;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
      }
      h1 {
        text-align: center;
        font-size: 1.4em;
        color: rgb(60, 60, 60);
      }
      table {
        width: 100%;
      }
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
      }
      td:first-child {
        white-space: nowrap;
      }
      td:last-child {
        width: 99%;
      }
      footer {
        text-align: center;
      }
      footer a {
        font-size: 0.6em;
        color: rgb(150, 150, 150);
      }
  body
    div.main-wrapper
      h1= title
      table
        tr
          th
          th Origen
          th Destino
        tr
          td Lenguaje
          td= srcLanguage
          td
            select#targetLanguage
              each language in allLanguages
                option(value=language) #{language}
        tr
          td Nombre de la carta
          td
            input#cardNames.awesomplete(placeholder='Nombre de la carta a traducir', size='25')
          td
            div#result
      footer
         a(href="https://github.com/protron") Developed by Mariano Desanze
    script(src=url_awesomplete_js)
    script(src=url_translations)
    script.
      function updateResult() {
        var selectedCard = document.getElementById("cardNames").value;
        var selectedTargetLang = document.getElementById("targetLanguage").value;
        var translations = nameTranslations[selectedCard];
        var translatedName = translations[selectedTargetLang];
        var resultEl = document.getElementById("result");
        resultEl.innerHTML = translatedName;
      }
      function initAwesomplete(optionsArray) {
        var input = document.getElementById("cardNames");
        var awesomplete = new Awesomplete(input);
        awesomplete.minChars = 1;
        awesomplete.autoFirst = true;
        awesomplete.list = optionsArray;
        input.addEventListener("awesomplete-selectcomplete", updateResult, true);
      }
      function getObjectKeys(obj) {
        var keys = [];
        for (var key in obj)
          if (obj.hasOwnProperty(key))
            keys.push(key);
        return keys;
      }
      function init() {
        var cardOptions = getObjectKeys(nameTranslations);
        initAwesomplete(cardOptions);
        document.getElementById("targetLanguage").addEventListener("change", updateResult);
      }
      init();
