doctype html
- var title = 'Hearthstone Cards Translator'
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    link(rel='stylesheet', href=url_awesomplete_css)
    style(type="text/css").
      body {
        background: black;
        font-family: sans-serif;
      }
      .main-wrapper {
        background: rgb(233,233,233);
        max-width: 800px;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
      }
      h1 {
        text-align: center;
        font-size: 1.4em;
        color: rgb(20, 20, 20);
      }
      h2 {
        text-align: center;
        font-size: 0.8em;
        color: rgb(120, 120, 120);
      }
      h2 a {
        color: rgb(90, 90, 90);
      }
      h2 .cardsUpdated {
        color: rgb(20, 20, 20);
      }
      table {
        width: 100%;
      }
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
      }
      td:first-child {
        white-space: nowrap;
      }
      td:last-child {
        width: 99%;
      }
      footer {
        text-align: center;
        font-size: 0.6em;
      }
      footer a {
        color: rgb(150, 150, 150);
      }
  body
    div.main-wrapper
      h1= title
      h2
        a(href="https://hearthstonejson.com/", target="_blank", rel="noreferrer") HearthstoneJSON
        span #{" "}card names dated#{" "}
        span.cardsUpdated #{cardsUpdateDate}
      table
        tr
          th
          th Source
          th Target
        tr
          td Language
          td
            select#sourceLanguage
              each language in allLanguages
                option(value=language, selected=(language==defaultSourceLanguage)) #{language}
          td
            select#targetLanguage
              each language in allLanguages
                option(value=language, selected=(language==defaultTargetLanguage)) #{language}
        tr
          td Card name
          td
            input#cardNames.awesomplete(placeholder='Card name to translate', size='25')
          td
            div#result
      footer
        a(href="https://github.com/protron", target="_blank") Developed by Mariano Desanze
    script(src=url_awesomplete_js)
    script(src="clientside.js")